.nav {
  grid-area: navbar;
  background-color: lightgrey;
  padding-left: 2vw;
}

.nav2 {
  padding: 20px 0;
}

/*.item {
  color: white;
} */

.item a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  /* cursor: pointer; */
}

.item a.activeLink {
  color: tomato;
  font-weight: bold;
}

.itemA {
  margin: 40px 0;
}
.itemA a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.itemA a.activeLink {
  color: darkred;
  font-weight: bold;
}

.friends {
  margin: 25px 0;
}

.friendsblock {
  display: flex;
}

.friendsblock > div {
  padding: 0 10px;
}

.friends img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.usersCount {
  font-weight: normal;
  font-size: 14px;
}
