.coursesPage {
  margin: 10px;
}
.coursesPage a {
  text-decoration: none;
  color: black;
}
.courseItem {
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.courseItemFlex {
  display: flex;
}
.coursePicture {
  width: 36%;
}
.coursePicture > img {
  width: 100%;
}
.reactPlayer {
  width: 100%;
  height: 100%;
}
.tittleDecor {
  font-weight: bold;
}
.descriptionItem {
  padding: 20px;
  width: 70%;
}
.courseDescription {
  padding: 20px 0;
}
.editModeRed {
  box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.5) inset;
  padding: 10px 0px;
}

.regInput {
  margin: 0 5px 5px auto;
}
.editBlockTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.editBlockSubtitle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.editBlock {
  margin: 20px;
}
.courseBtn {
  width: 100%;
  height: 3rem;
  font-size: 16px;
  margin-top: 20px;
}