.coursesPage {
  margin: 10px;
}
.coursesPage a {
  text-decoration: none;
  color: black;
}
.courseItem {
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.courseItemFlex {
  display: flex;
}
.coursePicture {
  width: 36%;
}
.coursePicture img {
  width: 100%;
}
.reactPlayer {
  width: 100%;
  height: 100%;
}
.tittleDecor {
  font-weight: bold;
  font-size: 20px;
}
.descriptionItem {
  padding: 20px;
  width: 70%;
}
.courseDescription {
  padding: 20px 0;
}
.editModeRed {
  box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.5) inset;
  padding: 10px 0px;
}
.editModePurple {
  box-shadow: 0px 0px 10px 5px rgba(255, 29, 244, 0.5) inset;
  padding: 10px 0px;
}

.regInput {
  margin: 0 5px 5px auto;
}
.regInputTest {
  margin: 0 5px 5px auto;
  width: 100%;
}
.editBlockTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.editBlockSubtitle {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.editBlock {
  margin: 20px;
}
.courseBtn {
  width: 100%;
  height: 3rem;
  font-size: 16px;
  margin: 10px 0;
}
.boldItemTitle {
  margin: 20px 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.certificateBtn {
  width: 100%;
  height: 3rem;
  font-size: 16px;
  margin-bottom: 10px;
}
.certifLogo img {
  width: 25%;
  margin-bottom: -15px;
}
.certifLogoTitle {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 32px;
}
.certifImg {
  margin: auto;
  width: 210mm;
  height: 148mm;
  background: url(../../assets/images/certificate_bkg.jpg);
  background-size: cover;
}
.certifInto {
  padding: 90px 180px;
  text-align: center;
}
.certifTitle {
  font-family: Garamond;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.certifItalic {
  font-style: italic;
}
.certifName {
  font-weight: bold;
}
.certifSign {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  text-align: left;
  margin-left: 20px;
}
.certifSign > div {
  width: 33%;
  align-items: center;
}
.certifSign img {
  width: 90%;
}

.formControl {
  color: red;
}
