.mainTest {
  margin: 5px 0;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.testBlock {
  margin: 20px;
}
.testQuestion {
  font-weight: bold;
  margin-bottom: 20px;
}
.testBtn {
  margin: 20px 0;
}
.greenAnswer {
  font-style: italic;
  color: green;
}
.redAnswer {
  font-style: italic;
  color: red;
}
.needAnswer {
  font-style: italic;
  color: gray;
}

.formControl {
  color: red;
}
.editOrange {
  border: 2px solid lightsalmon;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.regInputTest {
  margin: 0 5px 5px auto;
  width: 97.3%;
}
.regInputTest2 {
  margin: 0 5px 5px auto;
  width: 48%;
}
.redTestBtn {
  margin-top: 15px;
  font-weight: bold;
}
.redTestBtn:hover {
  color: red;
  font-weight: bold;
}