.leftPad {
  padding-left: 20px;
}
.profileTitle {
  display: flex;
}
.profileTitle a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.mainProfile {
  display: flex;
}
.mainProfile > div {
  width: 50%;
}
.mainProfile img {
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
}
.avatarBlock {
  display: flex;
}
.buttonsBlock {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.picture img {
  width: 100%;
}

.profileItem {
  margin: 10px 0;
  background: white;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.profileItemHalf {
  display: flex;
  padding: 5px 0;
}
.profileItemHalfButton {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
.profileItemHalf > div {
  width: 45%;
  word-wrap: break-word;
}
.boldValue {
  font-weight: bold;
}
.avatarInput {
  width: 50%;
}

@media screen and (max-width: 1150px) {
  .mainProfile img {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .mainProfile img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .mainProfile img {
    width: 200px;
    height: 200px;
  }
}
