.dialogs {
  display: grid;
  grid-template-columns: 4fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .dialog a {
  text-decoration: none;
}

.active {
  color: tomato;
  font-weight: bold;
}

.messages {
  padding: 10px;
  color: red;
}

.messageBock {
  margin: 10px;
  padding: 10px;
  background: white;
  display: flex;
}
.messageBock a {
  text-decoration: none;
}
.messageItem {
  margin-right: 20px;
  width: 50%;
}